body {
    background-color: #999999;
    text-align: center center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#START {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-height: 95vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    font-size: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #000;
    background-color: #cccccc;
    transition: 0.3s background-color ease-in;
    text-decoration: none;
}

.back:hover {
    background-color: #ff5555;
}

.title {
    text-align: center;
    font-size: 100px;
}

input[type="text"], input[type="file"] {
    background-color:#ffffff;
    color: #000;
    transition: width 0.4s ease-in-out;
    border-radius: 2em;
    width: 20%;
    height: 2em;
    padding-left: 2em;
}
input[type="text"]:focus {
    width: 40%;
}

.butoane_de_inceput {
    background-color: #cccccc00;
    transition: 0.4s height ease-in-out;
    text-decoration: none;
    font-size: 75px;
    color: #000;
}

.linkuri {
    background-color: #cccccc;
    transition: 0.3s padding ease-in-out;
    border: solid 3px #777777;
    border-radius: 20px;
    flex: 1;
    padding: 100px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.linkuri a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.linkuri:hover {
    background-color: #aaaaaa;
    padding: 150px;
}

.butoane_de_inceput:hover {
    background-color: #aaaaaa00;
}


.submit {
    border: none;
    background-color: #cccccc;
    border-radius: 2em;
}


/* # Modificat de neamtu */
#container-cartonase {
    perspective: 1000px;
    min-height: 85vh;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: darkgray;
    flex-wrap: wrap;
}

.cartonas {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
    max-height: 30vh;
    background-color: gray;
    border: 5px solid white;
    min-width: 150px;
    border-radius: 20px;
    padding: 10px;
}


.cartonasSpate, .cartonasFata {
    text-align: center;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.cartonasFata {
    transform: rotateY(0deg);
    position: relative !important;
    z-index: 2;
}

.cartonasSpate {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}


.cartonas-topbar {
    display: flex;
    justify-content: space-between;
}

.cartonas-link {
    position: relative;
    transition: 0.2s ease-in;
}
.cartonas-link:hover {
    color: wheat;
    cursor: pointer;
    font-size: 150%;
}

#adaugaCartonasLink {
    font-size: 250%;
}

#cartonasEntry {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The Modal (background)  {multumesc w3schools}*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }