:root {
    --content_clr: #cccccc;
}

@media (max-width: 480px) {
    .alineat {padding-left: 0 !important;}
}

.alineat {
    padding-left: 50px;
}

@keyframes cartonasOff {
    from {bottom: 0; opacity: 1;}
    to {bottom: 100px; opacity: 0;}
}

@keyframes cartonasOn {
    from {bottom: 100px; opacity: 0;}
    to {bottom: 0; opacity: 1;}
}

/* html {
    background-color: #b48563;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
} */

/* Hide scrollbar for IE, Edge, and Firefox
body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
    display: none;
} */

.copyright {
    position: fixed;
    font-size: 70%;
    color: gray;
    left: 0;
    bottom: 0;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url("https://media.istockphoto.com/id/1465198091/photo/old-wood-background-dark-wooden-abstract-texture.jpg?s=170667a&w=0&k=20&c=s4ARmIiW2nrquEbg_JAXQhWBDDJj3kQPQQtd6XaWYOE=") repeat fixed 100%;
    background-size: cover;    
}

#START {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-height: 95vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    font-size: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #000;
    background-color: var(--content_clr);
    transition: 0.3s background-color ease-in;
    text-decoration: none;
}

#tutorial-wrapper {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    /* background-color: #00000000; */
    border-radius: 15px;
}

.tutorial-container {
    background: no-repeat center center fixed;
    background-image: url("https://images.pexels.com/videos/4822860/black-and-white-background-cool-wallpaper-hd-wallpapers-motion-4822860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    border-radius: 15px;
    /* margin: 0 20px; */
}


.tutorial-text {
    /* font-size: 35px; */
    margin: 10px;
    margin-left: 25px !important;
}

.tutorial-title {
    /* font-size: 50px; */
    margin: 10px;
}

.back:hover {
    background-color: #ff5555;
}

.title {
    text-align: center;
    font-size: 100px;
}

h1 {
    color: #000;
}

input[type="text"], input[type="file"] {
    background-color:#ffffff;
    color: #000;
    transition: width 0.4s ease-in-out;
    border-radius: 2em;
    width: 20%;
    height: 2em;
    padding-left: 2em;
    padding-top: 5px;
    border: none;
}
input[type="text"]:focus {
    width: 40%;
    outline: none;
}

.butoane_de_inceput {
    background-color: #cccccc00;
    transition: 0.4s height ease-in-out;
    text-decoration: none;
    font-size: 75px;
    color: #000;
}

.linkuri {
    background: no-repeat center center fixed;
    background-image: url("https://images.pexels.com/videos/4822860/black-and-white-background-cool-wallpaper-hd-wallpapers-motion-4822860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    transition: 0.3s padding ease-in-out;
    border: solid 3px #777777;
    border-radius: 20px;
    flex: 1;
    padding: 100px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.linkuri a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.linkuri:hover {
    background-color: #aaaaaa;
    padding: 150px;
}

.butoane_de_inceput:hover {
    background-color: #aaaaaa00;
}


.submit {
    border: none;
    background: no-repeat center center fixed;
    background-image: url("https://images.pexels.com/videos/4822860/black-and-white-background-cool-wallpaper-hd-wallpapers-motion-4822860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    border-radius: 2em;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease;
}
.submit:hover {transform: scale(1.1);}

/* # Modificat de neamtu */

#container-showcase {
    perspective: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;

    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
}

#cartonas-showcase {
    min-height: 80vh;
    min-width: 500px;
    width: 75vh;
    background: no-repeat center center fixed;
    background-image: url("https://images.pexels.com/videos/4822860/black-and-white-background-cool-wallpaper-hd-wallpapers-motion-4822860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    border: solid 3px #777777;
    border-radius: 20px;

    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

#fataShowcase, #spateShowcase {
    /* text-align: center; */
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

#fataShowcase {
    transform: rotateY(0deg);
    height: 100%;
    width: 100%;
    /* position: relative !important; */
    z-index: 2;
}

#spateShowcase {
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

#titluSpate {
    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#titluSpate h1 {
    margin: 0; 
    padding-bottom: 150px;
    font-size: 275%;
}

#counterCartonase {
    position: fixed;
    bottom: 0; left: 0; right: 0;
    text-align: center;
    z-index: -6;
}


#intrebare-cartonas {
    text-align: center;
    font-size: 250%;
}

#lista-raspunsuri-showcase {
    font-size: 250%;
    padding-left: 10%;
}

#link-showcaseAfiseaza, #link-showcaseAscunde {
    position: absolute;
    bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#noCartonasShowcase {
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    font-size: 150%;
    color: gray;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -5;
}

.raspunsuri-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    font-size: 125%;
}

.raspunsuri-div h3 {margin: 10px;}

.butonShowcase {
    min-width: 100px;
    min-height: 100px;
    background-color: white;
    border-radius: 50%;
    font-size: 400%;
    border: solid 3px #777777;
    font-weight: bolder;

    transition: 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.butonShowcase:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #272727;
    color: white;
}

#container-cartonase {
    /* perspective: 1000px; */
    min-height: 85vh;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #00000000;
    flex-wrap: wrap;
}

.cartonas {
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
    max-height: 35vh;
    min-height: 225px;
    max-width: 25vh;
    width: 250px;
    background: no-repeat center center fixed;
    background-image: url("https://images.pexels.com/videos/4822860/black-and-white-background-cool-wallpaper-hd-wallpapers-motion-4822860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    border: solid 3px #777777;
    min-width: 150px;
    border-radius: 20px;
    padding: 10px;
}
/* .cartonas:hover {height: max-content;} */

.titlu-cartonas, .cartonas-link {text-align: center;}

.cartonasSpate, .cartonasFata {
    width: 100%;
    height: 100%;
    /* text-align: center; */
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.cartonasFata {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transform: rotateY(0deg);
    position: relative !important;
    z-index: 2;
}
.cartonasFata h3 {margin: 0;}

.cartonasSpate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
}

.cartonas-topbar {
    display: flex;
    justify-content: space-between;
}

.cartonas-link {
    position: relative;
    display: block;
    transition: 0.2s ease-in;
}
.cartonas-link:hover {
    color: #000;
    cursor: pointer;
    font-size: 150%;
}
#showhideLink {
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
}

#adaugaCartonasLink {
    font-size: 250%;
}

#cartonasEntry {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The Modal (background)  {multumesc w3schools}*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background: no-repeat center center fixed;
    background-image: url("https://images.pexels.com/videos/4822860/black-and-white-background-cool-wallpaper-hd-wallpapers-motion-4822860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: solid 3px #777777;
    border-radius: 20px;
    width: 80%;
  }

  /*Save/Create button*/
  #salveazaModal, #creeazaModal {
    cursor: pointer;

    border-radius: 20px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }