body {
    background-color: #999999;
    text-align: center center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#START {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    min-height: 95vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 100px;
}

input[type="text"], input[type="file"] {
    background-color:#ffffff;
    color: #000000;
    transition: width 0.4s ease-in-out;
    border-radius: 2em;
    width: 20%;
    height: 2em;
    padding-left: 2em;
}
input[type="text"]:focus {
    width: 40%;
}

.butoane_de_inceput {
    background-color: #cccccc00;
    transition: 0.4s height ease-in-out;
    text-decoration: none;
    font-size: 75px;
    color: #000000;
}

.linkuri {
    background-color: #cccccc;
    transition: 0.3s padding ease-in-out;
    border: solid 3px #777777;
    border-radius: 20px;
    flex: 1;
    padding: 100px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.linkuri a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.linkuri:hover {
    background-color: #aaaaaa;
    padding: 150px;
}

.butoane_de_inceput:hover {
    background-color: #aaaaaa00;
}


.submit {
    border: none;
    background-color: #cccccc;
    border-radius: 2em;
}


/* # Modificat de neamtu */
#container-cartonase {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: darkgray;
}

.cartonas {
    background-color: gray;
    border: 5px solid white;
    border-radius: 10%;
    width: fit-content;
    padding: 10px;
}
